<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>controllers.users.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/users/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLogout</servlet-name>
		<servlet-class>controllers.users.LogOutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogout</servlet-name>
		<url-pattern>/users/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>controllers.users.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/users/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserIndex</servlet-name>
		<servlet-class>controllers.users.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserIndex</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolIndex</servlet-name>
		<servlet-class>controllers.roles.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolIndex</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolAdd</servlet-name>
		<servlet-class>controllers.roles.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolAdd</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoleView</servlet-name>
		<servlet-class>controllers.roles.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleView</servlet-name>
		<url-pattern>/roles/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoleEdit</servlet-name>
		<servlet-class>controllers.roles.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleEdit</servlet-name>
		<url-pattern>/roles/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoleDelete</servlet-name>
		<servlet-class>controllers.roles.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleDelete</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserAdd</servlet-name>
		<servlet-class>controllers.users.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAdd</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserView</servlet-name>
		<servlet-class>controllers.users.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserView</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserEdit</servlet-name>
		<servlet-class>controllers.users.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEdit</servlet-name>
		<url-pattern>/users/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserDelete</servlet-name>
		<servlet-class>controllers.users.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDelete</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Lab08_20173385</servlet-name>
		<servlet-class>pw2.Lab08_20173385Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lab08_20173385</servlet-name>
		<url-pattern>/lab08_20173385</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesIndex</servlet-name>
		<servlet-class>controllers.resources.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesIndex</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesAdd</servlet-name>
		<servlet-class>controllers.resources.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesAdd</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesView</servlet-name>
		<servlet-class>controllers.resources.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesView</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesEdit</servlet-name>
		<servlet-class>controllers.resources.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesEdit</servlet-name>
		<url-pattern>/resources/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesDelete</servlet-name>
		<servlet-class>controllers.resources.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesDelete</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccessAdd</servlet-name>
		<servlet-class>controllers.access.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessAdd</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessView</servlet-name>
		<servlet-class>controllers.access.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessView</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessEdit</servlet-name>
		<servlet-class>controllers.access.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessEdit</servlet-name>
		<url-pattern>/access/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessDelete</servlet-name>
		<servlet-class>controllers.access.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessDelete</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccessIndex</servlet-name>
		<servlet-class>controllers.access.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessIndex</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
